<div class="flex items-center">
  <span
    class="relative inline-flex overflow-hidden rounded-full p-[1px] border-2 border-gray-600 dark:border-gray-400"
  >
    <div
      class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-gray-100 bg-gray-600 rounded-full cursor-pointer dark:bg-gray-200 dark:text-gray-800 whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
