---
import TailwindIcon from "./icons/Tailwind.astro";
import NextJSIcon from "./icons/NextJS.astro";
import HTMLIcon from "./icons/HTML.astro";
import CSSIcon from "./icons/CSS.astro";
import JavaScriptIcon from "./icons/JavaScript.astro";
import ReactIcon from "./icons/React.astro";
import AZUREIcon from "./icons/AZURE.astro";
import DockerIcon from "./icons/Docker.astro";
enum TechnologyType {
  Frontend = 1,
  Backend = 2,
  Database = 3,
  Other = 4,
}
const TECHNOLOGIES = [
  {
    name: "JavaScript",
    icon: JavaScriptIcon,
    colorClasses: "bg-yellow-400 dark:bg-yellow-400/30",
    type: TechnologyType.Frontend,
  },
  {
    name: "HTML",
    icon: HTMLIcon,
    colorClasses: "bg-red-500 dark:bg-orange-400/30",
    type: TechnologyType.Frontend,
  },
  {
    name: "CSS",
    icon: CSSIcon,
    colorClasses: "bg-blue-600 dark:bg-blue-300/30",
    type: TechnologyType.Frontend,
  },
  {
    name: "React",
    icon: ReactIcon,
    colorClasses: "bg-gray-700 dark:bg-sky-700/30 dark:border-slate-600/20",
    type: TechnologyType.Frontend,
  },
  {
    name: "Azure",
    icon: AZUREIcon,
    colorClasses: "bg-indigo-700 dark:bg-indigo-500/30",
    type: TechnologyType.Other,
  },
  {
    name: "Docker",
    icon: DockerIcon,
    colorClasses: "bg-gray-700 dark:bg-teal-500/30",
    type: TechnologyType.Other,
  },
];
---

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  {
    TECHNOLOGIES.map((technology) => (
      <div
        class={`flex flex-col items-center justify-center p-4 transition-all duration-300 ${technology.colorClasses} hover:scale-110 rounded-lg shadow-md`}
      >
        <technology.icon className="size-12" />
        <span class="mt-2 text-sm font-semibold text-white">
          {technology.name}
        </span>
      </div>
    ))
  }
</div>
